<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="common-header">
        <title>saha jwellers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/metisMenu.css" rel="stylesheet">
        <link href="css/morris-0.4.3.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/modernizr.js"></script>
    </head>
    <head th:fragment="common-head">
        <title>saha jwellers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/fontawesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/metisMenu.css" rel="stylesheet">
<link href="/css/morris-0.4.3.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/css/dataTables.colVis.css" rel="stylesheet">
<link
	href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
	rel="stylesheet">
<link href="" rel="stylesheet"/>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css"
	rel="stylesheet" />
	<script src="/js/jquery.min.js"></script>
<script src="/js/modernizr.js"></script>

    </head>
    <head th:fragment="common-headpage">
        <title>saha-jewellers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/metisMenu.css" rel="stylesheet">
        <link href="/css/morris-0.4.3.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/modernizr.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- DATATABLES-->
        <link rel="stylesheet" href="/css/dataTables.colVis.css">
        <link rel="stylesheet" href="/css/dataTables.bootstrap.css">
    </head>
<body>
            <div class="side-menu left" id="side-menu" th:fragment="common-menu">
               <ul class="metismenu clearfix" id="menu" >
                    <li class="profile-menu visible-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="images/user.png" alt="" class="pull-left">
                            <span>ADMIN <br><em>Admin</em></span>                            
                        </a>
                        <ul class="dropdown-menu profile-drop">
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html"><i class="fa fa-home"></i>  <span>Dashboard</span></a></li>                       
                  	<li class=""><a href="/mortgage-app/"><i class="fa fa-home"></i>  <span>Home</span></a></li>  
                    <li class=""><a href="/mortgage-app/voucher/"><i class="fa fa-address-book-o"></i>  <span>Customer</span></a></li>  

                    <li class="active ">
                     <a href="#"><i class=" fa fa-balance-scale"></i> <span>Gold Mortgage</span><span class="fa arrow"></span></a> 
                        <ul class="nav nav-second-level collapse">
                            <li class="active "><a href="/mortgage-app/voucher/"><font color="#f7b03e">Create Voucher</font></a></li>
                            <li><a href="graph_morris.html">customer transaction</a></li>
                            <li><a href="graph_chartjs.html">customer ledger</a></li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-money"></i> <span>Expense </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="mailbox.html">Create Expense Voucher</a></li>
                            <li><a href="mail_detail.html">Create Expense Transaction</a></li>
                          
                        </ul>
                    </li>  
                     <li>
                        <a href="#"><i class="fa fa-reply"></i> <span>loan Take</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="form_basic.html">Create Loan Take Voucher</a></li>
                            <li><a href="form_wizard.html">Loan Take Transaction</a></li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-share"></i> <span>loan Give</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="table_basic.html">Create Loan Give Voucher</a></li>
                            <li><a href="table_data_tables.html">Loan Give Transaction</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-line-chart"></i> <span class="nav-label">Capital Investment</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="lockscreen.html">Create Capital Investment Voucher</a></li>
                            <li><a href="login.html">Capital Investment Transaction</a></li>
                         
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Custom report</span></a>
                       
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> <span>Reports </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="#">Daily Report </a>
								
								
								
								</li>
                                
                            <li ><a href="#">Weekly Report</a>
							
							
							</li>
                            <li>
                                <a href="#">Monthly Report </a></li>
                            <li>
                                <a href="#">yearly Report </a></li>
								<li>
                                <a href="#">Decade Report </a></li>
                        </ul>
                    </li>
                </ul>
                  <!-- <div class="nav-bottom clearfix">
                    <a href="#" style="border-right: 0px;"><i class="fa fa-lock"></i></a>
                    <a href="#" style="border-right: 0px;"><i class="fa fa-download"></i></a>
                    <a href="#" style="border-right: 0px;"><i class="fa fa-globe"></i></a>
                    <a href="#" style="border-right: 0px;"><i class="fa fa-phone"></i></a>
                </div> -->
            </div>
            
         <div class="topbar" th:fragment="common-topbar">
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="index.html" class="logo"><img src="/images/sahas.png" class="image-responsive" width="220px" style="margin-top:10px"alt=""></a>
                    </div>
                </div>
                <div class="pull-left menu-toggle">
                    <i class="fa fa-bars"></i>
                </div>
               
                <ul class="nav navbar-nav  top-right-nav hidden-xs">
                    <li>

                        <span id="para2"></span>
                        <span id="para3"></span>
                        <span id="para1"></span>
                    </li>
                 
                    <li class="dropdown profile-link hidden-xs">
                        <div class="clearfix">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/user.png" alt="" class="pull-left">
                                <span>up bar <br><em>Admin</em></span>                            
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Account</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </div>

                    </li>
                    
                </ul>
            </div>
            <!--end top bar-->
            
                        <!--left menu start-->
            <div class="side-menu left" id="side-menu" style="position:fixed;" th:fragment="common-side-menu">

                <ul class="metismenu clearfix" id="menu" >
                    <li class="profile-menu visible-xs">
                        <a href="/mortgage-app/" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/images/user.png" alt="" class="pull-left">
                            <span>ADMIN <br><em>Admin</em></span>                            
                        </a>
                        <ul class="dropdown-menu profile-drop">
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                    
                       <li class="active "><a href="/mortgage-app/"><i class="fa fa-home"></i>  <span><font color="#f7b03e">Home</font></span></a></li>  
                    <li class=""><a href="customer.html"><i class="fa fa-address-book-o"></i>  <span>Customer</span></a></li>  

                    <li>
                     <a href="#"><i class=" fa fa-balance-scale"></i> <span>Gold Mortgage</span><span class="fa arrow"></span></a> 
                        <ul class="nav nav-second-level collapse">
                            <li ><a href="/mortgage-app/voucher">Create Voucher</a></li>
                            <li><a href="/mortgage-app/voucher_transaction">customer transaction</a></li>
                            <li class="active "><a href="/mortgage-app/create_ledger">customer ledger</a></li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-money"></i> <span>Expense </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/mortgage-app/expense-voucher">Create Expense Voucher</a></li>
                            <li><a href="/mortgage-app/expense-transaction">Expense Transaction</a></li>
                          
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-reply"></i> <span>loan Take</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="create_loan_take.html">Create Loan Take Voucher</a></li>
                            <li><a href="loan_take_trans.html">Loan Take Transaction</a></li>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-share"></i> <span>loan Give</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="create_loan_give.html">Create Loan Give Voucher</a></li>
                            <li><a href="loan_give_trans.html">Loan Give Transaction</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-line-chart"></i> <span class="nav-label">Capital Investment</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="create_investment.html">Create Capital Investment Voucher</a></li>
                            <li><a href="ci_trans.html">Capital Investment Transaction</a></li>
                         
                        </ul>
                    </li>
					  <li  >
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Custom </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="custom_report.html">Custom report</a></li>
                            <li><a href="credit_list.html">Customer Credit List</a></li>
                          <li><a href="cash_ledger.html">Cash Ledger</a></li>
                        </ul>
                    </li>
                   
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> <span>Reports </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="daily.html">Daily Report </a>
								
								
								
								</li>
                                
                            <li ><a href="weekly.html">Weekly Report</a>
							
							
							</li>
                            <li>
                                <a href="monthly.html">Monthly Report </a></li>
                            <li>
                                <a href="yearly.html">yearly Report </a></li>
								<li>
                                <a href="decade.html">Decade Report </a></li>
                        </ul>
                    </li>
                </ul>
             
            </div>
            <!--left menu end-->
       <div th:fragment="common-required-scripts">
        <!-- Plugins  -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.slimscroll.js"></script>
        <script src="/js/metisMenu.js"></script>
         <script src="/js/core.js"></script>
        <script src="/js/mediaquery.js"></script>
        <script src="/js/equalize.js"></script>
        <script src="/js/app.js"></script>

        <!--page js-->
         <!-- DATATABLES-->
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/dataTables.colVis.js"></script>
        <script src="/js/dataTables.bootstrap.js"></script>
        <script src="/js/demo-datatable.js"></script>
        </div>
</body>
</html>