<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="/common/common-header :: common-headpage"></head>
    
    <body class="fixed-left" style="overflow:hidden;">

        <div id="wrapper" >
		 <!--top bar-->
   			<div th:replace="/common/common-header :: common-topbar"></div>
			<div th:replace="/common/common-header :: common-side-menu"></div>
         <div class="content-page  equal-height" >
                <div class="content">
                    <div class="container">
                    
                    
                    <input type="hidden" id="s_voucher_id" th:value=${voucherId}/>
                    <input type="hidden" id="s_id" th:value=${id}/>
                      
                      <div class="panel-box">
                                  	<div class="clearfix">
                                  	
                                  	<div>
									<form role="form" class="form-inline">
										<div class="form-group col-sm-1 " style="padding-left: 10px;">
											<label>Sl no.</label> <input type="text" id="r_serial"
												placeholder="sl no" class="form-control">
										</div>
										<div class="form-group col-sm-2   " style="padding-left: 10px;">
											<label>Name</label> <input type="text" id="r_cust_name"
												placeholder="name" class="form-control">
										</div>
										
									<div class="form-group col-sm-2 " style="padding-left: 10px;">
											<label>Cust ID</label> <input type="text" id="r_cust_id"
												placeholder="cust id" class="form-control">
										</div>
										
										
										<div class="form-group col-sm-2 " style="padding-left: 10px;">
											<label>From Date</label> <input type="text" id="r_datepicker_from"
												placeholder="date from" class="form-control date">
										</div>
										<div class="form-group col-sm-2 " style="padding-left: 10px;">
											<label>To Date</label> <input type="text" id="r_datepicker_to"
												placeholder="date to" class="form-control date">
										</div>
										</form>
										</div>
										
										
										<div>
										<form class="form-inline" >
										<div class="form-group col-sm-4" style="padding-left: 10px;">
											<label>select</label> 
												<select class="form-control transHistory">
												<option class="form-control" value="mortgage">Mortgage</option>
												
												<option class="form-control" value="loan_take">Loan Take</option>
												<option class="form-control" value="loan_give">Loan Give</option>
												

												</select>
												
										</div>
										
										<div class="form-group col-sm-2 " style="padding-left: 10px;">
											<button type="button" class="btn btn-border-theme btn-xs" id="r_cust_print">Customer Print</button>
										</div>
										
										<div class="form-group col-sm-2 " style="padding-left: 10px;">
											<button type="button" class="btn btn-border-theme btn-xs" id="r_balam_print">Balam Print</button> 	
										</div>
										<div class="form-group col-sm-2 " style="padding-left: 10px;">
											<button type="button" class="btn btn-border-theme btn-xs" id="r_view_report" >View Report</button> 	
										</div>
										 	
								
										</form>
										</div>
								</div>
								
								
									
									
								</div>
								
								
								
								<!-- Table -->
					
					
								<div class="form-group " style="padding:0">
							<table class="table table-striped" id="transactionHistory_tbl" style="font-size:10px;padding:0">
								<thead>
									<tr>
										<th>ID</th> 
										<th>Name</th>
										<th>Sl No.</th>
										<th>Cust Sl.no</th>
										<th>Receive Date</th>
										<th>Bori</th>
										<th>Ana</th>
										<th>Ratti</th>
										<th>Gram</th>
										<th>Interest Rate</th>
										<th>Day Count</th>
										<th>Loan Amount</th>
										<th>Paid Principal Amount</th>
										<th>Interest Amount</th>
										<th>Paid Interest Amount</th>
										<th>Total Value</th>
										<th>Balance</th>
										<th>Update</th>
										<th>Delete</th>
										<th>View</th>									
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
							<form action="" class="form-inline">
    <div class="form-group">
    	<label>Bori</label>
        <input type="text" id="re_bori" disabled class="form-control" placeholder="Bori">
    </div>
    <div class="form-group">   
    	<label>Ana</label> 
         <input type="text" id="re_ana" disabled class="form-control" placeholder="Ana">   
    </div>
    <div class="form-group">
    	<label>Ratti</label>    
         <input type="text" id="re_ratti" disabled class="form-control" placeholder="Ratti">   
    </div>
    <div class="form-group">
    	<label>Gram</label>    
         <input type="text" id="re_gram" disabled class="form-control" placeholder="Gram">   
    </div>
    <div class="form-group">
    	<label>Total Balance</label>    
         <input type="text" id="re_balance" disabled class="form-control" placeholder="Total Balance">   
    </div>
</form>
									
						</div>

                       
							
									
                        </div>

						
							 
					
					
					<!-- View Modal -->
					<div class="modal fade" id="viewModal" role="dialog">
			<div class="modal-dialog modal-lg" style="width:50%;">

				
				<div class="modal-content modal_dialog">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Receive Transactions</h4> 
					</div>
					<div class="modal-body">
						<!-- Fields -->
							    <div class="panel-box">
                                  	
								
								</div>
					
						<div class="form-group details">
							<ul>
							</ul>
							
						</div>
						</div>
						<div class="panel-group"></div>
						<ul class="pager">
							<li class="previous"><a href="#"
								onclick="javascript:toggleViewModal()" data-toggle="modal">Close
									&rarr;</a></li>
						</ul>
					</div>
					
				</div>

			</div>		 
							 
							 
							 
							 
							 
                     


                    </div><!--content-->               
                </div><!--content page-->
            </div><!--end wrapper-->
            </div><!--end wrapper-->
        </div>

   <div th:replace="/common/common-header :: common-required-scripts"></div>
   <script src="/js/transaction-history.js"></script>
   <script src="/js/customer/customer.js"></script>
    </body>

<!-- Mirrored from psd2allconversion.com/templates/templatemonster/html/pink-desh/dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Jun 2018 06:31:07 GMT -->
</html>
