<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
   <head th:replace="common/common-header :: common-headpage"></head> 
    <body class="fixed-left" style="overflow:hidden;">
        <div id="wrapper" >

            <!--top bar-->
            <div th:replace="/common/common-header :: common-topbar"></div>
			<div th:replace="/common/common-header :: common-side-menu"></div>
			
            <div class="content-page  equal-height" >
                <div class="content">
                    <div class="container">
                        <div class="row">
                             <div class="col-sm-4 h6" style="margin-top:-10px;">
							  <div class="panel-box">
							  <h5>Customer Information</h5>
							  <div id="wizard" class="bwizard">
                                        <!-- Start .bwizard -->
                                     
                                        <form class="form-horizontal" role="form">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Customer name</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" id="customer_name" placeholder="customer name" name="customer_name" type="text">
                                                        </div>
                                                    </div>
                                                    <!-- End .control-group  -->
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Id</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" disabled placeholder="0" id="customer_id" name="customer_id" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Mobile number</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" id="cust_phone"  placeholder="phone number" name="phone_number" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Address</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" id="cust_address" placeholder="address" name="address" type="text">
                                                        </div>
                                                    </div>
													<div class="form-group col-sm-12" style="">
											<a href="#" class="btn btn-border-theme btn-xs">Product</a> 
											<a href="#" class="btn btn-border-theme btn-xs">Transaction Details</a> 										
										</div>	

                                                                                                        
                                                    
													<!-- End .control-group  -->
                                                </div>
                                              
                                               
                                            </div>
                                        </form>
										
                                    </div>
							  </div> </div>
                           
                              <div class="col-sm-4 h6" style="margin-top:-10px;">
                                 <div class="panel-box">
                                    <h5> Loan Transaction</h5>
                                     <div id="wizard" class="bwizard">
                                        <!-- Start .bwizard -->
                                     
                                        <form class="form-horizontal" role="form">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Total Loan Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input id="tot_loan_amnt" class="form-control" placeholder="0.00" name="firstname" type="text">
                                                        </div>
                                                    </div>
                                                    <!-- End .control-group  -->
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Previous Loan Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="ana" name="lastname" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Paid Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="ratti" name="lastname" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Due Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="point" name="lastname" type="text">
                                                        </div>
                                                    </div>
													</div>   
                                            </div>
                                        </form>
                                       
                                    </div>

                                </div>
								
								
                            </div > 
							
							<div>
						
                                                        
                                                    
							</div>
								<div class="col-sm-4 h6"  style="margin-top:-10px;">
                                <label class="col-lg-2 col-md-3 control-label" style="margin-top:30px;" >Date</label>
                                                        <div class="col-lg-10 col-md-9" style="margin-top:20px;">
                                                            <input class="form-control" placeholder="dd/mm/yyyy" name="lastname" type="text">
                                                        </div>
                                                        <div class="col-lg-12 col-md-9 form-group has-warning">
                                                            <input class="form-control input-lg " id="voucher_id" style="color:#f7b03e" placeholder="voucher id" name="firstname" type="text">
                                                        </div>
								<div class="panel-box">
								  <h5>  Transaction Details</h5>
								 	
								 <div id="wizard" class="bwizard" >
                                        <!-- Start .bwizard -->
                                     
                                        <form class="form-horizontal" role="form">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label"  style="font-size: 12px;"><font>Total Loan Amount</font></label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="customer serial" name="firstname" type="text">
                                                        </div>
                                                    </div>
                                                    <!-- End .control-group  -->
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label" style="font-size: 12px;">Total Interest Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="reminder date" name="lastname" type="date(dd-mm-yyyy)">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label" style="font-size: 10px;">Total Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="storage" name="lastname" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Paid Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="note" name="lastname" type="text">
                                                        </div>
                                                    </div>
      <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Paid Interest Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="note" name="lastname" type="text">
                                                        </div>
                                                    </div>
                                                   <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Due Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="note" name="lastname" type="text">
                                                        </div>
                                                    </div>
                                                      <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Due Interest Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="note" name="lastname" type="text">
                                                        </div>
                                                    </div>                                                   
                                                     <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Net Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="note" name="lastname" type="text">
                                                        </div>
                                                    </div>
													
										
											<ul class="pager">
												<a href="#" class="btn btn-border-theme btn-xs">Save</a> 
										  <li class="input-lg"><a href="#">Deliver &rarr;</a>
											</li>
											<a href="#" class="btn btn-border-theme btn-xs">Cancel</a> 
											<a href="#" class="btn btn-border-theme btn-xs">Print</a> 
											<a href="#" class="btn btn-border-theme btn-xs">PDF</a> 
											</ul>
											
									
										
										
											
										
										
										
											
											
													<!-- End .control-group  -->
												
                                                </div>
                                              
                                               
                                            </div>
                                        </form>
                                        <!--<ul class="pager">
                                            <li class="previous"><a href="#">&larr; Back</a>
                                            </li>
                                            <li class="next"><a href="#">Next &rarr;</a>
                                            </li>
                                            <li class="next finish" style="display:none;"><a href="#">Finish</a>
                                            </li>
                                        </ul>-->
                                    </div>
								</div>
							
								</div>
								
							
                        </div>
						  <div class="row">
<div class="col-sm-4 h6"  style="margin-top:-375px;">
                                <div class="panel-box">
                                    <h5>Mortgage Informantion </h5>
                                    <div id="wizard" class="bwizard">
                                        <!-- Start .bwizard -->
                                     
                                        <form class="form-horizontal" role="form">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Bori</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="bori" name="bori" id="bori" type="text">
                                                        </div>
                                                    </div>
                                                    <!-- End .control-group  -->
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Ana</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="ana" name="lastname" id="ana" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Ratti</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="ratti" name="lastname" id="ratti" type="text">
                                                        </div>
                                                    </div>
                                                  
													<div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Gram</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="gram will be calculated"  name="gram" id="gram" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Interest rate</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="Int rate" name="intereset_rate" id="rate" type="text">
                                                        </div>
                                                    </div>
                                                     <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Loan amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="loan amt" name="loan_amount" id="loan_amount" type="text">
                                                        </div>
                                                    </div>
                                                                                                        
                                                    
													<!-- End .control-group  -->
                                                </div>
                                              
                                               
                                            </div>
                                        </form>
                                        <!--<ul class="pager">
                                            <li class="previous"><a href="#">&larr; Back</a>
                                            </li>
                                            <li class="next"><a href="#">Next &rarr;</a>
                                            </li>
                                            <li class="next finish" style="display:none;"><a href="#">Finish</a>
                                            </li>
                                        </ul>-->
                                    </div>
                                    <!-- End .bwizard -->
                                </div>
                            </div><!--height-->
                    
                          
							 <div class="col-sm-4 h6 " style="margin-top:-330px;">
                               
                                   <div class="panel-box">
                                    <h5>Interest Transaction</h5>
                                     <div id="wizard" class="bwizard">
                                        <!-- Start .bwizard -->
                                     
                                        <form class="form-horizontal" role="form">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Total Interest Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="bori" name="firstname" type="text">
                                                        </div>
                                                    </div>
                                                    <!-- End .control-group  -->
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Previous Interest paid Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="ana" name="lastname" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Paid Interest Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="ratti" name="lastname" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 col-md-3 control-label">Due Interest Amount</label>
                                                        <div class="col-lg-10 col-md-9">
                                                            <input class="form-control" placeholder="point" name="lastname" type="text">
                                                        </div>
                                                    </div>
													
                                                  
                                                    
                                                                                                        
                                                    
													<!-- End .control-group  -->
                                                </div>
                                              
                                               
                                            </div>
                                        </form>
                                        <!--<ul class="pager">
                                            <li class="previous"><a href="#">&larr; Back</a>
                                            </li>
                                            <li class="next"><a href="#">Next &rarr;</a>
                                            </li>
                                            <li class="next finish" style="display:none;"><a href="#">Finish</a>
                                            </li>
                                        </ul>-->
                                    </div>

                                </div>
								
								
                            </div >
</div>
                    </div><!--content-->               
					</div><!--content page-->
            </div><!--end wrapper-->				
        </div>      
       <div th:replace="/common/common-header :: common-required-scripts"></div>
       <script>
       
       $(document).ready(function () {
		   setAutoComplete();
       });
	   
       function setAutoComplete(){
    	   
    	   var autoCompleteList = [];
    	   var URL = getAbsoluteUrl("mortgage-app/api/voucher/");
    	   buildAjax(URL, "GET").then(function(respJson){
    		   jQuery.each(respJson, function(i, val) {
    				   autoCompleteList.push({value: val.id,  label: val.id});
    		   });
    	   
    		 $( "#voucher_id" ).autocomplete({
  		        source: autoCompleteList,
  		        select: function (event, ui) {
  		        var txt = ui.item.label;
  		          let voucherId = parseInt(txt);
  		         // $("#cust_id").val(custId); 
  		          
  		         buildAjax("http://localhost:8080/mortgage-app/api/voucher/"+voucherId, "GET").then(function(respJson){
  		        //	 alert('sucess');
  		        	 console.log(respJson);
  		         	$("#cust_address").val(respJson.customer.address);
  		       	    $("#cust_phone").val(respJson.customer.mobile); 
  		       	    $("#customer_name").val(respJson.customer.customerName);
  		       	    $("#customer_id").val(respJson.customer.customerId);
  		       	    $("#bori").val(respJson.mortgage.bori==null?"0.00":respJson.mortgage.bori);
  		       	    $("#ana").val(respJson.mortgage.ana==null?"0.00":respJson.mortgage.ana);
  		       	    $("#ratti").val(respJson.mortgage.ratti==null?"0.00":respJson.mortgage.ratti);
  		       	    $("#gram").val(respJson.mortgage.gram);
  		       	    $("#loan_amount").val(respJson.mortgage.loanAmount);
  		       	    $("#rate").val(respJson.mortgage.interestRate);
  		       	    $("#tot_loan_amnt").val(respJson.mortgage.loanAmount);
  		       	    
  		       	    
  		         },function(reason){
  		           	 console.log("error in processing your request", reason);
  	           	}); 
  		          
  		      }
  		      });
    	   }, function(reason){
           	 console.log("error in processing your request customer", reason);
         	}); 
       }
       
       function loanTransaction(){
    	   
       }
       
       function interestTransaction(){
    	   
       }
       
       ;(function(){
    	   
    	  

       })();
       </script>
    </body>

<!-- Mirrored from psd2allconversion.com/templates/templatemonster/html/pink-desh/dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Jun 2018 06:31:07 GMT -->
</html>
