<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="/common/common-header :: common-headpage"></head>
	
    <body class="fixed-left" style="overflow:hidden;">

  <div id="wrapper" >

            	 <!--top bar-->
   			<div th:replace="/common/common-header :: common-topbar"></div>
			<div th:replace="/common/common-header :: common-side-menu"></div>
            <div class="content-page  equal-height" >
                <div class="content">
                    <div class="container">
                      

                        <!--end widget-->

                        <div class="row">
                             <div class="col-sm-12 h6" style="margin-top:-10px;">
                                <div class="panel-box">
                                  	<div class="clearfix" style="padding-top:20px">
									<form role="form" class="form-inline">
										
										<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>Expense Name</label> <input type="text" id="expense"
												placeholder="search by expense" class="form-control">
												
										</div>
											<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>ID</label> <input type="text" id="id"
												placeholder="search by id" class="form-control">
										</div>
										<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>Address</label> <input type="text" id="address"
												placeholder="search by address" class="form-control">
										</div>
										<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>Amount</label> <input type="text" id="amount"
												placeholder="search by amount" class="form-control">
										</div>
									
										
										<div class="form-group col-sm-2 " style="margin-left:5px;padding-top: 20px;">
											<button type="button" id="search" class="btn btn-border-theme btn-xs">View Report</button> 
										</div>
										
										
										<div class="form-group col-sm-2 " style="margin-left:10px;padding-top: 20px;">
											<button type="button" id="search_by_date" class="btn btn-border-theme btn-xs" data-toggle="modal" data-target="#myModal">Search By Date</button> 
										</div>
										
									</form>
								</div>
								<br>
							  
                                </div>									
                            </div >
  </div>
  
  
  
  
  		<!-- Search By Date Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-lg" style="width:90%;">

				<!-- Modal content For Transaction Details-->
				<div class="modal-content modal_dialog">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Search By Date</h4> 
					</div>
					<div class="modal-body">
						
						<!-- Date Fields -->
						
						<div class="row">
						<div class="col-sm-8">
							<div class="panel-box">
								
								<div class="dropdown">
									<button class="btn btn-danger btn-lg dropdown-toggle"
										type="button" id="dropdownMenuButton" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false">Search By Date</button>

									<div class="dropdown-menu" role="menu"
										aria-labelledby="dropdownMenuButton">

										<a class="dropdown-item range_dates" href="#"
											 style="padding: 10px;"
											aria-expanded="true" id="date_range">By Date From & To</a> <br> 
											
											<a
											class="dropdown-item specific_date" href="#"
											 style="padding: 10px;"
											aria-expanded="false">By Date</a> <br>
									</div>
								</div>

								

									<!-- Date From And To  -->
									<div class="clearfix" id="range_dates"
										style="margin-top: 30px;">
										<form role="form" class="form-inline">
											<div class="form-group col-sm-2 ">
												<label>Date from</label> <input type="text" id="date_from"
													placeholder="date from" class="form-control date">
											</div>
											<div class="form-group col-sm-2 col-sm-offset-2"
												style="padding-left: 10px;">
												<label>Date To</label> <input type="text" id="date_to"
													placeholder="date to" class="form-control date">
											</div>
											<div class="form-group col-sm-4 col-sm-offset-2 mt-sm-4"
												style="padding-left: 10px; margin-top: 25px;">
												<a href="#" class="btn btn-border-theme btn-xs" id="s1">Search
												</a>
											</div>

										</form>
									</div>

									<!-- Specific Date-->
									<div class="clearfix " id="specific_date"
										
										style="margin-top: 30px;">
										<form role="form" class="form-inline">
											<div class="form-group col-sm-2 ">
												<label>Select Date</label> <input type="text" id="sp_date"
													placeholder="Select Date" class="form-control date">
											</div>
											<div class="form-group col-sm-4 col-sm-offset-2 mt-sm-4"
												style="padding-left: 10px; margin-top: 25px;">
												<a href="#" class="btn btn-border-theme btn-xs" id="s2">Search
												</a>
											</div>

										</form>
									</div>
								</div>
								
							</div>



							

						</div>
					
					
					

						<div class="form-group ">
							<div class="form-group col-sm-2" style="padding-left: 10px;" >
											<label>Total Expense</label> <input type="text" id="total_exp_modal"
												placeholder="Total Expenses" class="form-control" disabled>
							</div>	
						
							 <table id="expense-table_2_date_modal" class="table table-striped exp_mod" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
											 <tr>
											
											<th>ID</th>
                                                <th>Expense Head</th>
												
									          <th>Mobile no</th>
                                                <th>Address</th>

                                                <th>Amount</th>
                                                <th>Note</th>
                                                <th>Date</th>
                                               
																																
                                               <th>Update</th>
                                             <th>Delete</th>
                                               
																														
										     

                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                        </tbody>
                                    </table>
						</div>
						</div>
						<div class="panel-group"></div>
						<ul class="pager">
							<li class="previous"><a href="#"
								onclick="javascript:toggleModal()" data-toggle="modal">Close
									&rarr;</a></li>
						</ul>
					</div>
					
				</div>

			</div>
  
  
  
  
  
				
 <div class="row"  >
                             <div class="col-sm-12" style="overflow: hidden;height:550px;">
							 <div class="panel-box">
							 		
							 		
										   
                                    <div class="table-responsive">
                                    
                                    		<div class="form-group col-sm-2" style="padding-left: 10px;" >
											<label>Total Expense</label> <input type="text" id="total_exp"
												placeholder="Total Expenses" class="form-control" disabled>
											</div>
                                   
                                          
                                          <table id="expense-table" class="table table-striped exp_mod" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
											
											<th>ID</th>
                                                <th>Expense Head</th>
												
									          <th>Mobile no</th>
                                                <th>Address</th>

                                                <th>Amount</th>
                                                <th>Note</th>
                                                <th>Date</th>
                                               
																																
                                               <th>Update</th>
                                             <th>Delete</th>
                                               
																														
										     

                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="clearfix"></div>
                                

							 </div>
							 </div>
							 </div>
                     


                    </div><!--content-->               
                </div><!--content page-->
            </div><!--end wrapper-->
            
            
            




	</div>
            
            
            
        </div>
       

   <div th:replace="/common/common-header :: common-required-scripts"></div>
   
 
 <!-- used to update balance all the time  -->
			<input type="submit" id="#edit-submit" class="abc" style="display:none"> 
 <div style="display:none">
 <form action="" class="form-inline">
  <center>  <div class="form-group">
    	<label>Cash-in:</label>
        <input type="text" id="dt_in" disabled="" class="form-control" placeholder="Cash-in">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">   
    	<label>Cash-out:</label> 
         <input type="text" id="dt_out" disabled="" class="form-control" placeholder="Cash-out">   
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    	<label>Balance:</label>    
         <input type="text" id="dt_bal" disabled="" class="form-control" placeholder="Balance">   
         
           
          
    </div>
   
</center>
</form>
</div>
   <script src="/js/cashledger/cashledger.js"></script>
   <!-- used to update balance all the time  -->
 
   <script>
   
   
   const EX ="EX-";
   const type ="expense";
   var expenseDataTable = null;
   var totalExpenses =0;
   var exId =0;
   
   $(document).ready(function (){    
	   listAllExpenses();
	   
	   
   });
   function listAllExpenses(){
	   var URL = getAbsoluteUrl("mortgage-app/api/exp/getAll");
	   var data = [];
	   buildAjax(URL, "GET").then(function(respJson){
		   
		   console.log("hhh");
     		console.log(respJson);
     		
     		 jQuery.each(respJson, function(i, val) {
     			 
     			 var expenseTransaction = val[0];
     			 var expenseInfo = val[1];
     			 
     			 //add all expenses
     			 
     			 totalExpenses += parseInt(expenseTransaction.amount==null?"0.00":expenseTransaction.amount);
     			 
     			 
       			try{
       			 data.push([
       				EX+expenseTransaction.id,
       				expenseTransaction.expenseHead,
       				expenseInfo.mobileNo,       				
       				expenseInfo.address,
					(expenseTransaction.amount==null?"0.00":expenseTransaction.amount),
					(expenseTransaction.note==null?"":expenseTransaction.note),
					moment(expenseTransaction.date).format("DD/MM/YYYY"),
	 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme upd' updid='"+expenseTransaction.id+"'  type='button' name='update' value='update' id='update' />",
	 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme del' type='button' name='delete' value='delete' delid='"+expenseTransaction.id+"' id='delete' />"
	 				]); 
       			}catch(e){
       				console.log(e);
       			}
       		}); 
     		
     		expenseDataTable = $('#expense-table').DataTable({
        		data:           data,
                deferRender:    true,
                lengthChange: false,
                //filter: false,
                scrollCollapse: true,
                scroller:       true,
                "order": [],
				 "footerCallback": function ( row, data, start, end, display ) {
        var api = this.api(), data;
        
        $("#total_exp").val(totalExpenses);
    }
        	});  
     		 
     		},function(reason){
		       	 console.log("error in processing your request", reason);
	       	}); 
	   
   }
   
   $("#search").click(function(){
	   
	   var exp = $("#expense").val().trim();
	   var id =$("#id").val().trim();
	   var addr =$("#address").val().trim();
	   var amt = $("#amount").val().trim();
	   
	   
	   
	   
	   expenseDataTable
       .column(1)
       .search(exp)
       .draw();
	   
	   expenseDataTable
       .column(0)
       .search(id)
       .draw();
	   
	   expenseDataTable
       .column(3)
       .search(addr)
       .draw();
	   
	   expenseDataTable
       .column(4)
       .search(amt)
       .draw();
   });
   
   $('.exp_mod tbody').on( 'click', '.del', function () {
   	var table = $('#expense-table').DataTable();
   	if(confirm('Are you sure !')){
   		  var currentPage = table.page();
   		  //console.log($(this).attr('delid'));
   		 var URL = getAbsoluteUrl("mortgage-app/api/exp/"+parseInt($(this).attr('delid')));
   		  buildAjax(URL, "POST").then(function(respJson){
   			
   			alert("Deleted Successfully !");
   			  
   		  },function(reason){
		           	 console.log("error in processing your request", reason);
	           	}); 
   		  
   		  
   		var row = table.row( $(this).parents('tr') );
        var rowNode = row.node();
        row.remove();
        table.page(currentPage).draw(false);
   		  
   	}
    
       
   });
   
   $('.exp_mod tbody').on( 'click', '.upd', function () {
   	var table = $('#expense-table').DataTable();
   
   		  var currentPage = table.page();
   		   //console.log(respJson);
   			  window.location.href=getAbsoluteUrl("mortgage-app/web/update_expense/"+parseInt($(this).attr('updid')));
   		      /*   let bori_field = $("#bori");
   		        let ana_field = $("#ana");
   		        let ratti_field = $("#ratti");
   		        let point_field = $("#point");
   		        let gram_field = $("#gram"); 
   		        let loanAmnt_field = $("#loan_amnt");
   		        let interestRate_field = $("#rate");*/
   		      /*   let transactionSerial = $("#transaction_serial");
   		        let reminderDate = $("#reminder_date");
   		        let note = $("#note");
   		        let storage = $("#storage");
   			    let voucher_date = $("#voucher_date");
   			    
   		        $("#cust_name").val(respJson.customer.customerName);
   		        $("#cust_id").val(respJson.customer.customerId);
   		        $("#cust_mobile").val(respJson.customer.mobile);
   		        $("#cust_address").val(respJson.customer.address);
   		        voucher_date.val(respJson.date);
   		        transactionSerial.val(respJson.id);
   		        /* $("#bori").val(respJson.mortgage.bori);
   		        $("#ana").val(respJson.mortgage.ana);
   		        $("#ratti").val(respJson.mortgage.ratti);
   		        $("#point").val(respJson.mortgage.point);
   		        $("#gram").val(respJson.mortgage.gram);
   		        $("#interestRate").val(respJson.mortgage.interestRate);
   		        $("#loanAmount").val(respJson.mortgage.loanAmount); */
   		        /* $("#product").val(respJson.mortgage.product); */
   		     /*    $("#cust_id").val(respJson.transaction.id);
   		        $("#reminder_date").val(respJson.transaction.transactionDate);
   		        $("#storage").val(respJson.transaction.storage);
   		        $("#note").val(respJson.transaction.note);
   		        $("#amount").val(respJson.transaction.amount);
   	
   		        $('#expense').val(null).trigger('change');		       
   		        $("#expense").val(JSON.parse(respJson.transaction.expense==null?"[]":respJson.transaction.expense)).trigger('change');
   		       
   		        
   		        $("#serial_no").val(respJson.id);
   		        $("#transaction_serial").val(respJson.transaction.id);
   		        $("#cust_id").val(respJson.customer.customerId);
   		        $("#voucher_id").val(respJson.id);
   		        $("#transaction_id").val(respJson.transaction.id); */
   	 	        /* $("#mortgage_id").val(respJson.mortgage.mortgageId); */
   		  
   		  /* var row = table.row( $(this).parents('tr') );
             var rowNode = row.node();
             row.remove();
             table.page(currentPage).draw(false); */
   });
   
   //=========================================================================================================
	   
	   $(document).ready(function () {
		   autoComplete();
		   
		   $(".date").datepicker(dateSettings);
		   
		   //date format changed
		   $(".date").datepicker({
			   dateFormat: "dd/mm/yyyy"
		   });
		   
      	   $(".date").val(moment().format("DD/MM/YYYY"));
		  
       });
   
	   function toggleModal(){
	       	$('#myModal').modal('toggle');
	       }
	   
   		//auto fill when search by name
	   var autoComplete = function(){
	   
		   var autoCompleteList = [];
    	   var URL = getAbsoluteUrl("mortgage-app/api/voucher/expense");
    	   
    	   //
    	   buildAjax(URL, "GET").then(function(listOfExpenses){
    	   
    		   jQuery.each(listOfExpenses, function(i, val) {
    			   
    			   		var str =val.customer.customerName +" > "+ val.id ;
    				   autoCompleteList.push({value: val.customer.customerName,  label: str});
   
    		   });
    		   
    		   $("#name").autocomplete({
     		        source: autoCompleteList,
     		        select: function (event, ui) {
     		        var txt = (ui.item.label).split(">");
     		        
     		       exId = parseInt(txt[1]);
     		        
     		       	
     		        
     		        
     		        }});
    		   
    	   });
   		}
   		
   		
		var currentId="#range_dates";
		
		$('document').ready(function(){
			
			$("#range_dates").show();
			$("#specific_date").hide();
		});
		
		$('.dropdown-menu a').on('click', function(){
			
			var split_id = $(this).attr('class').trim().split(" ");
			var id ="#"+split_id[1];
			console.log(id);
			
			if(currentId == null || currentId != id){
				hideAll();
				$(id).show(300);
				currentId =id;
			}
		
		});
		
		
		var hideAll =function()
		{
			$("#range_dates").hide();
			$("#specific_date").hide();
		
		}
		
		
		var te =0;
		
		//search by specific date
		var searchBySpecificDate= function() {
			var date = $("#sp_date").val();
	   		var URL = getAbsoluteUrl("mortgage-app/api/exp/search");
	   		
	   		$('#expense-table_2_date_modal').DataTable().destroy();
	   		
	   		$.ajax({
	   	     type: "GET",
	   	     url: URL,
	   	     data: { date: date,type:type} ,// parameters
	   	  		success: function(respJson) {
	   	  		var data=[];
	   	  		var totalExpenses=0;
	     		
	     		jQuery.each(respJson, function(i, val) {
	     			 
	     			 var expenseTransaction = val[0];
	     			 var expenseInfo = val[1];
	     			 
	     			 //add all expenses
	     			 
	     			 totalExpenses += parseInt(expenseTransaction.amount==null?"0.00":expenseTransaction.amount);
	     			 
	     			 
	       			try{
	       			 data.push([
	       				EX+expenseTransaction.id,
	       				expenseTransaction.expenseHead,
	       				expenseInfo.mobileNo,       				
	       				expenseInfo.address,
						(expenseTransaction.amount==null?"0.00":expenseTransaction.amount),
						(expenseTransaction.note==null?"":expenseTransaction.note),
						expenseTransaction.date,
		 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme upd' updid='"+expenseTransaction.id+"'  type='button' name='update' value='update' id='update' />",
		 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme del' type='button' name='delete' value='delete' delid='"+expenseTransaction.id+"' id='delete' />"
		 				]); 
	       			}catch(e){
	       				console.log(e);
	       			}
	       		}); 
	     		 
	     		$("#total_exp_modal").val(totalExpenses);
	     		
	     		expenseDataTable = $('#expense-table_2_date_modal').DataTable({
	        		data:           data,
	                deferRender:    true,
	                scrollY:        300,
	                scrollCollapse: true,
	                scroller:       true,
	                "order": [],
					 "footerCallback": function ( row, data, start, end, display ) {
	       			 var api = this.api(), data;
	        
	    }
	        	});
	   	  			
	   	  			
	            }
	   	     
	   	})

		}
		$("#s2").click(searchBySpecificDate);
		
		
		
		//search by dateTo And dateFrom
		var tot =0;
		var searchByDateRange= function() {
			var dateTo = $("#date_to").val().trim();
			var dateFrom = $("#date_from").val().trim();
			
	   		var URL = getAbsoluteUrl("mortgage-app/api/exp/search");
	   		
	   		$('#expense-table_2_date_modal').DataTable().destroy();
	   		
	   		$.ajax({
	   	     type: "GET",
	   	     url: URL,
	   	     data: { datefrom: dateFrom,dateto: dateTo} ,// parameters
	   	  		success: function(respJson) {
	   	  			
	   	  		var totalExpenses=0;
	   	  			
var data=[];
	     		
	     		jQuery.each(respJson, function(i, val) {
	     			 
	     			 var expenseTransaction = val[0];
	     			 var expenseInfo = val[1];
	     			 
	     			 //add all expenses
	     			 
	     			 totalExpenses += parseInt(expenseTransaction.amount==null?"0.00":expenseTransaction.amount);
	     			 
	     			 
	       			try{
	       			 data.push([
	       				EX+expenseTransaction.id,
	       				expenseTransaction.expenseHead,
	       				expenseInfo.mobileNo,       				
	       				expenseInfo.address,
						(expenseTransaction.amount==null?"0.00":expenseTransaction.amount),
						(expenseTransaction.note==null?"":expenseTransaction.note),
						expenseTransaction.date,
		 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme upd' updid='"+expenseTransaction.id+"'  type='button' name='update' value='update' id='update' />",
		 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme del' type='button' name='delete' value='delete' delid='"+expenseTransaction.id+"' id='delete' />"
		 				]); 
	       			}catch(e){
	       				console.log(e);
	       			}
	       		}); 
	     		
	     		$("#total_exp_modal").val(totalExpenses);
	     		 
	     		expenseDataTable = $('#expense-table_2_date_modal').DataTable({
	        		data:           data,
	                deferRender:    true,
	                scrollY:        200,
	                scrollCollapse: true,
	                scroller:       true,
	                "order": [],
					 "footerCallback": function ( row, data, start, end, display ) {
	       			 var api = this.api(), data;
	        
	    }
	        	});
	   	  			
	   	  			
	            }
	   	     
	   	})

		}
		$("#s1").click(searchByDateRange);
		
		//formatting date
		var formatDate =function(date)
		{
			var new_date = moment(date, "DD/MM/YYYY").add(1, 'days');
			
			return new_date.format("DD/MM/YYYY");
				
		}
		
		/*
		$("#search").click(function(){
			
			var data = [];
			$('#expense-table').DataTable().destroy();
			console.log(exId);
			
			if(exId != 0){	
				var URL = getAbsoluteUrl("mortgage-app/api/voucher/expense/id/"+exId);
		    	buildAjax(URL, "GET").then(function(val){
		    		
		    		var fdate=formatDate(val.date);
		    		try{
		       			 data.push([(val.transaction.id==null?"0":val.transaction.id),
		       				EX+val.id,
		       				val.customer.customerName,
							val.customer.mobile,
							val.customer.address,
							JSON.parse(val.transaction.expense),
							(val.transaction.amount==null?"0.00":val.transaction.amount),
							(val.transaction.note==null?"":val.transaction.note),
							(fdate),
			 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme upd' updid='"+val.id+"'  type='button' name='update' value='update' id='update' />",
			 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme del' type='button' name='delete' value='delete' delid='"+val.id+"' id='delete' />"
			 				]); 
		       			}catch(e){
		       				console.log(e);
		       			}		
		       		var expenseDataTable = $('#expense-table').DataTable({
		            		data:           data,
		                    deferRender:    true,
		                    scrollY:        200,
		                    scrollCollapse: true,
		                    scroller:       true,
		                    "order": [],
		    				 "footerCallback": function ( row, data, start, end, display )
		    				 {var api = this.api(), data;}
		       		});
				
				
				
		    	});
		       		
		    	
			}
		});*/
   
   
   </script>
    </body>

<!-- Mirrored from psd2allconversion.com/templates/templatemonster/html/pink-desh/dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Jun 2018 06:31:07 GMT -->
</html>
