<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="/common/common-header :: common-headpage"></head>
    
    <body class="fixed-left" style="overflow:hidden;">

        <div id="wrapper" >

            	 <!--top bar-->
   			<div th:replace="/common/common-header :: common-topbar"></div>
			<div th:replace="/common/common-header :: common-side-menu"></div>
            <div class="content-page  equal-height" >
                <div class="content">
                    <div class="container">
                      

                        <!--end widget-->

                        <div class="row">
                             <div class="col-sm-12 h6" style="margin-top:-10px;">
                                <div class="panel-box">
                                  	<div class="clearfix" style="padding-top:20px">
									<form role="form" class="form-inline">
										<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>Sl no</label> <input type="text" id="cust_name"
												placeholder="search by id" class="form-control">
										</div>
										<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>Name</label> <input type="text" id="cust_name"
												placeholder="search by id" class="form-control">
												
										</div>
											<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>ID</label> <input type="text" id="cust_name"
												placeholder="search by id" class="form-control">
										</div>
										<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>Expense List</label> <input type="text" id="cust_name"
												placeholder="search by id" class="form-control">
										</div>
										<div class="form-group col-sm-2" style="padding-left: 10px;">
											<label>Amount</label> <input type="text" id="cust_name"
												placeholder="search by id" class="form-control">
										</div>
									
										
										<div class="form-group col-sm-2 " style="padding-top: 20px;">
											<a href="#" class="btn btn-border-theme btn-xs">View Report</a> 
										</div>
										
									</form>
								</div>
								<br>
							  
                                </div>									
                            </div >
  </div>
				
 <div class="row"  >
                             <div class="col-sm-12" style="overflow: hidden;height:550px;">
							 <div class="panel-box">
							 
                                   
										   
                                    <div class="table-responsive">
									
                                                    
                                          <table id="expense-table" class="table table-striped" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
											<th>Sl no.</th>
											<th>ID</th>
                                                <th>Name</th>
												
									          <th>Mobile no</th>
                                                <th>Address</th>

                                                <th>Expense List</th>
                                                <th>Amount</th>
                                                <th>Note</th>
                                                <th>Date</th>
                                               
																																
                                               <th>Update</th>
                                             <th>Delete</th>
                                               
																														
										     

                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="clearfix"></div>
                                

							 </div>
							 </div>
							 </div>
                     


                    </div><!--content-->               
                </div><!--content page-->
            </div><!--end wrapper-->
        </div>
       

   <div th:replace="/common/common-header :: common-required-scripts"></div>
   <script>
   var expenseDataTable = null;
   
   function listAllExpenses(){
	   var URL = getAbsoluteUrl("mortgage-app/api/voucher/expense");
	   var data = [];
	   buildAjax(URL, "GET").then(function(respJson){
     		console.log(respJson);
     		
     		 jQuery.each(respJson, function(i, val) {
       			
       			 data.push([(val.transaction.id==null?"0":val.transaction.id),
       				val.id,
					val.customer.mobile,
					val.customer.address,
					val.transaction.expense,
					(val.transacton.amount==null?"0.00":val.transaction.amount),
					(val.note==null?"":val.note),
					(val.date),
	 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme upd' updid='"+val.id+"'  type='button' name='update' value='update' id='update' />",
	 				"<input class='form-controlcol-sm-2 btn btn-xs btn-theme del' type='button' name='delete' value='delete' delid='"+val.id+"' id='delete' />"
	 				]); 
       		}); 
     		
     		customerDataTable = $('#expense-table').DataTable({
        		data:           data,
                deferRender:    true,
                scrollY:        200,
                scrollCollapse: true,
                scroller:       true,
                "order": [],
				 "footerCallback": function ( row, data, start, end, display ) {
        var api = this.api(), data;
    }
        	});  
     		 
     		},function(reason){
		       	 console.log("error in processing your request", reason);
	       	}); 
	   
   }
   
   </script>
    </body>

<!-- Mirrored from psd2allconversion.com/templates/templatemonster/html/pink-desh/dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Jun 2018 06:31:07 GMT -->
</html>
