<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="/common/common-header :: common-headpage"></head>
    <body class="fixed-left" >

        <div id="wrapper" >

            <!--top bar-->
   			<div th:replace="/common/common-header :: common-topbar"></div>
			<div th:replace="/common/common-header :: common-side-menu"></div>

            <div class="content-page  equal-height" >
                <div class="content">
                    <div class="container">
                      

                        <!--end widget-->
   					<div class="widget-row">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="widget-box clearfix">
                                        <div >
                                            <h4>Cash In</h4>
                                            <h2><ab id="cashi"></ab> <i class=" fa fa-reply pull-right"></i></h2>
                                        </div>
                                       
                                    </div>
                                </div>
								   <div class="col-md-4">
                                            <div class="widget-box clearfix">
                                                <div>
                                                    <h4>Cash Out</h4>
                                                    <h2><ab id="casho"></ab> <i class=" fa fa-share pull-right"></i></h2>
                                                </div>
                                            </div>
                                        </div>
										   <div class="col-md-4">
                                            <div class="widget-box clearfix">
                                                <div>
                                                    <h4>Balance</h4>
                                                    <h2><ab id="cashb"></ab> <i class="fa fa-money pull-right"></i></h2>
                                                </div>
                                            </div>
                                        </div>
                                  
                           
                            </div>
                        </div><!--end widget-->
                    


 <div class="row"  >
                             <div class="col-sm-12" style="overflow: hidden;">
							 <div class="panel-box">
							 <h5>Gold Mortgage Chart</h5>
                 
                                    <div class="table-responsive">
									
                                                    
                                          <table id="mortgageTable" class="table table-striped" cellspacing="0" width="100%">
                                      
                                        <thead>
                                            <tr>
											<th>ID</th>
											<th>Sl no</th>
                                            <th>Name</th>
									        <th>mobile</th>
                                                <th>address</th>
  												<th>Customer Sl. Number</th>
                                                <th> Receive date</th>
                                                
                                                <th>Due Interest Amount</th>
                                                <th>Due Loan Amount</th>
                                                <th>Total Loan Amount</th>
												 <th>Day Count</th>
												<th>Reminder Date</th>	
												<th>Update</th>
												<th>Cancel</th>																								
										     

                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="clearfix"></div>
                                

							 </div>
							 </div>
							 </div>
                      <div class="row"  >
                             <div class="col-sm-12" style="overflow: hidden;">
							 <div class="panel-box">
							 <h5>Loan Take Chart</h5>										   
                                    <div class="table-responsive">
									
                                                    
                                          <table id="loan-take" class="table table-striped" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
											<th>ID</th>
											<th>Sl no</th>
                                                <th>Name</th>
									    <th>mobile</th>
                                                <th>address</th>
  <th>Customer Sl. Number</th>
                                                <th> Receive date</th>
                                                
                                                <th>Due Interest Amount</th>
                                                <th>Due Loan Amount</th>
                                                <th>Total Loan Amount</th>
												 <th>Day Count</th>
												<th>Reminder Date</th>	
												<th>Update</th>
												<th>Cancel</th>																								
										     

                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="clearfix"></div>
                                

							 </div>
							 </div>
							 </div>
							  <div class="row"  >
                             <div class="col-sm-12" style="overflow: hidden;">
							 <div class="panel-box">
							 <h5>Loan Give Chart</h5>
                                     <div class="table-responsive">         
                                          <table id="loan-give" class="table table-striped" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
											<th>ID</th>
											<th>Sl no</th>
                                            <th>Name</th>
									        <th>mobile</th>
                                            <th>address</th>
  										    <th>Customer Sl. Number</th>
                                            <th> Receive date</th>
                                            <th>Due Interest Amount</th>
                                            <th>Due Loan Amount</th>
                                            <th>Total Loan Amount</th>
											<th>Reminder Date</th>
                                             <th>Day Count</th>												
												<th>Update</th>
												<th>Cancel</th>																								
										      </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
							 </div>
							 </div>


                    </div><!--content-->               
                </div><!--content page-->
            </div><!--end wrapper-->
        </div>
        
        
        
        <!-- Update remainder Date -->
        <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-sm" style="width:30%;">			
			<!-- Modal content For Product Details-->
					<div class="modal-content modal_dialog">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update Reminder Date</h4> 
					</div>
					<div class="modal-body">

						<div class="form-group">
						<label class="col-lg-2 col-md-3 control-label">Set Reminder Date</label>
						<div class="col-lg-10 col-md-9">
							<input class="form-control date" placeholder="DD/MM/YYYY"
								id="updateRemainderDate" type="text" required>
						</div>
						<button type="button" class="btn btn-border-theme btn-xs" id="updateDate">
							Update Date</button>
																	
						
					</div>
						</div>
						<div class="panel-group"></div>
					</div>
			
			</div>

			</div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
       <div th:replace="/common/common-header :: common-required-scripts"></div>
       
        <script src="/js/home.js"></script>
          
 <!-- used to update balance all the time  -->
			<input type="submit" id="#edit-submit" class="abc" style="display:none"> 
 <div style="display:none">
 <form action="" class="form-inline">
  <center>  <div class="form-group">
    	<label>Cash-in:</label>
        <input type="text" id="dt_in" disabled="" class="form-control" placeholder="Cash-in">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">   
    	<label>Cash-out:</label> 
         <input type="text" id="dt_out" disabled="" class="form-control" placeholder="Cash-out">   
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    	<label>Balance:</label>    
         <input type="text" id="dt_bal" disabled="" class="form-control" placeholder="Balance">   
         
           
          
    </div>
   
</center>
</form>
</div>
   <script src="/js/cashledger/cashledger.js"></script>
   <!-- used to update balance all the time  -->

       <script>
    $("#mortgageTable").dataTable();
   	$("#loan-take").dataTable();
   	$("#loan-give").dataTable();
       </script>
    </body>
</html>

